/* ||=======================> textarea <=========================|| */

.inpbox {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid var(--fontblue01);

    .txt {
        width: 100%;
        height: 1rem;
        color: var(--fontblue01);
        font-weight: 500;
    }

    .mixBox {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .logo {
        width: 4rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inp {
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--blue04);
        font-size: 1rem;
        outline: none;
    }

}




/* ||=======================> SubmitBUTTON <=========================|| */

.btnbox {
    margin-top: 10px;
    width: 80%;
    height: 5rem;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .btn {
        cursor: pointer;
        width: 10rem;
        height: 3.5rem;
        border: none;
        background-color: var(--blue02);
        border-radius: 50px;
        color: var(--blue04);
        font-size: 0.9rem;
        font-weight: 700;
        box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn:disabled {
        background-color: dimgray;
    }

    .icn {
        margin: 10px;
    }

    .txtic {
        color: var(--blue04);
    }

}


/* ||===============================> progress bar <===============================|| */
.prog {
    -webkit-appearance: none;
    margin: 0px;

    &::-webkit-progress-bar {
        background-color: var(--blue04);
        transition: 1s;
        border-radius: 50px;
    }

    &::-webkit-progress-value {
        background-color: var(--blue01);
        border-radius: 50px;
    }
}


// ============================> popUpmanuYesOrNo ==================================

.pag {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.495);
    display: flex;
    justify-content: center;
    align-items: center;

    .box11 {
        width: 20rem;
        height: 14rem;
        border-radius: 20px;
        box-shadow: var(--shadow);
        background-color: var(--blue04);
        display: flex;
        align-items: center;
        flex-direction: column;
        animation: box11anim 0.3s;


        @keyframes box11anim {
            0% {
                opacity: 0;
                width: 0rem;
                height: 0rem;

            }
            50% {
                opacity: 0.5;
                width: 25rem;
                height: 19rem;
            }
            100% {
                opacity: 1;
                width: 20rem;
                height: 14rem;
            }

        }

        .one {
            width: 50%;
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // padding: 40px;
            text-wrap: wrap;
            color: var(--blue01);
        }

        .two {
            width: 100%;
            height: 35%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .btn {
                cursor: pointer;
                width: 30%;
                height: 50%;
                border-radius: 50px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--blue01);
                color: var(--blue04);
                transition: 0.5s;

                &:hover {
                    background-color: var(--iconblue01);
                }
            }
        }
    }

}