.bgs {
    overflow-y: hidden;
    background-image: url('../assets/svgs/neuton-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--blue04);
}
.mid {
    background-color: var(--blue01);
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    animation: midanim;
    animation-duration: 1s;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.442);
}

.mid1 {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue04);
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgba(128, 132, 135, 0);
}
.mid2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 132, 135, 0);
    transition: 2s;
}

.logo1 {
    height: 9rem;
    width: 9rem;
    animation: logos 1s;
    transform: rotate(180deg);
}
.logo2 {
    height: 9rem;
    width: 9rem;
    animation: logos1 1s;
    transform: rotate(0deg);
}

.inpN {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    height: 3rem;
    outline: none;
    border: none;
    color: var(--blue04);
    background-color: var(--fontblue01);
    border-radius: 5px;
    padding-left: 10px;padding-right: 10px;
    
}
.inpN:focus {}

.inpN::placeholder {
    color: var(--blue04);
}

.btn4 {
    cursor: pointer;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--blue01);
    transform: translateX(17rem);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.442);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nextam 1s;
}

.btn4:disabled {
    cursor: not-allowed;
}
.btn5 {
    cursor: pointer;
    margin: 10px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: var(--blue01);
    transform: translateX(-0.5rem);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.442);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nextam_active 1s;
}
.btn5:disabled {
    cursor: not-allowed;
}


.subbtn{
    cursor: pointer;
    margin: 10px;
    width: 5rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    color: var(--blue04);
    background-color: var(--blue01);
    transform: translateX(10.8rem);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.442);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: midanim 1s;
}
.subbtn:disabled {
    cursor: not-allowed;
    color: var(--fontblue01);
}


/* ||=========================> animations <========================|| */

@keyframes logos {
    0% {

        transform: rotate(0deg);
    }
    50% {

        transform: rotate(180deg);
    }
}
@keyframes logos1 {
    50% {

        transform: rotate(0deg);
    }
    0% {

        transform: rotate(180deg);
    }
}

@keyframes midanim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nextam {
    from {
        transform: translateX(-1rem);
    }
    to {
        transform: translateX(17rem);
    }
}


@keyframes nextam_active {
    from {
        transform: translateX(17rem);
    }
    to {
        transform: translateX(-0.5rem);
    }
}